[Desktop Entry]
Version=1.0
Type=Application
Name=Dolpai Player
GenericName=Video Player
Comment=Futuristic cyberpunk video player powered by VLC
Exec=dolpai-player %F
Icon=dolpai-player
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/x-matroska;video/x-msvideo;video/quicktime;video/webm;video/x-flv;video/mpeg;video/ogg;video/3gpp;video/x-ogm+ogg;video/x-theora+ogg;video/x-ms-wmv;video/x-ms-asf;
Keywords=video;player;vlc;media;dolpai;cyberpunk;mkv;mp4;avi;
StartupNotify=true
StartupWMClass=dolpai-player
